<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.ac.abertay.forbes.assessment">

    <uses-feature android:name="android.hardware.location"/>
    <uses-feature android:name="android.hardware.location.gps"/> <!-- SUB API 20-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-feature android:name="android.hardware.telephony"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/> <!-- This is only if log doesnt tell us what we need to know about calls -->
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.READ_SMS"/>

    <uses-feature android:name="android.database"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/cpt"
        android:label="@string/app_name"
        android:roundIcon="@drawable/cpt"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".OpenScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Record"/>

        <activity android:name=".ReadOptions"/>

        <activity android:name=".ReadingLog"/>

    </application>

</manifest>